@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

@import 'components/index';
@import 'partials/base';

html {
    font-family: $font, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    box-sizing: border-box;
}

.mainbody {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex-grow: 1;
    padding: 1rem;
}

@media screen and (max-width: 768px) {
    .site-content {
        margin-top: 75px;
    }
}
pre {
    padding: 1rem;
    background-color: whitesmoke;
}

code {
    background-color: whitesmoke;
}
